.container {
    height: max-content;
    width: 100vw;
    backdrop-filter: brighteness(0.5);
  }
  
  .h2span {
    font-size: medium;
    color: rgba(245, 245, 245, 0.766);
    margin: 4px;
  }
  
  .modal {
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 50px;
    position: absolute;
    border: 1px solid rgba(12, 27, 40, 0.7);
    border-radius: 12px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .selectInput {
    width: 200px;
    padding: 6px 8px;
    border-radius: 8px;
    margin: 0 8px;
    background-color: rgba(12, 27, 40, 0.6);
    color: white;
  }
  
  .selectInputOption {
    background-color: rgba(12, 27, 40, 0.8);
  }
  
  .selectInputOptionText {
    margin: 4px 6px;
  }
  
  .input {
    width: 50px;
    padding: 6px 8px;
    border-radius: 8px;
    margin: 0 8px;
    background-color: rgba(12, 27, 40, 0.6);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
  
  .input:active {
    border: 1px solid rgba(255, 255, 255, 0.9);
  }
  
  .button {
      background-color: rgba(255, 255, 255, 0.2);
      color: white;
      border-radius: 8px;
      width: -moz-fit-content;
      width: fit-content;
      padding: 8px 30px;
      margin: 40px auto;
  }
  .buttonn {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 8px;
    width: -moz-fit-content;
    width: fit-content;
    padding: 8px 30px;
    margin: 12px auto;
  }

  .layout {
    display: flex;
    height: 100vh;
    width: 100vw;
    padding: 20px;
    gap: 20px;
    background-image: url("https://unsplash.com/photos/ZOjO31xtKiU");
    backdrop-filter: brightness(0.5);
  }
  
  .h2span {
    font-size: medium;
    color: rgba(245, 245, 245, 0.766);
    margin: 4px;
  }
  
  .left {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .leftTop {
    border: 1px solid rgba(12, 27, 40, 0.7);
    background-color: rgba(12, 27, 40, 0.6);
    border-radius: 12px;
    padding: 0 20px;
    box-shadow: 0px 4px 30px rgba(200, 200, 200, 0.2);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
  }
  
  .blur {
    border: 1px solid rgba(12, 27, 40, 0.7);
    background-color: rgba(12, 27, 40, 0.6);
    border-radius: 12px;
    padding: 0 20px;
    box-shadow: 0px 4px 30px rgba(200, 200, 200, 0.2);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }
  
  .right {
    flex: 6;
    display: flex;
    flex-direction: column;
  }
  
  .table {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: rgba(12, 27, 40, 0.6);
    margin-right: 200px;
    margin-left: 200px;    
  }
  
  .tableCell {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .column {
    display: flex;
    flex-direction: column;
  }
  
  .columnContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  .progressBar {
    position: relative;
    height: 30px;
    width: 180px;
    background-color: rgb(36, 58, 72);
    border-radius: 10px;
    padding: 3px;
  }
  
  .progressFill {
    position: absolute;
    height: calc(100% - 6px);
    max-width: calc(100% - 6px);
    background-color: #e7c600;
    border-radius: 8px;
    transition: width linear 1s;
  }
  
  .resetButton {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(36, 58, 72, 0.6);
    border-radius: 8px;
    border: 1px solid rgba(36, 58, 72, 0.8);
    padding: 8px 20px;
    margin: 20px;
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
    align-self: flex-end;
  }
  
  
  